<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <link rel="shortcut icon" href="images/favicon.png">
    <title>POLO | The Multi-Purpose HTML5 Template</title>



    <!-- Vendor css -->

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="../../public/css/combined.css">
    <![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/livingston-css3-mediaqueries-js/1.0.0/css3-mediaqueries.min.js"></script>
    <script src="vendor/jquery/jquery.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script> -->


    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/jrespond/jRespond.js"></script>
    <script src="vendor/jquery.stellar/jquery.stellar.js"></script>
    <script src="vendor/jquery.countdown/jquery.countdown.js"></script>

</head>

<body class="wide">


<!-- WRAPPER -->
<div class="wrapper">

    <!-- HEADER -->

    <header id="header" class="header-dark header-mini" style="position: fixed;width: 100%;">
        <div id="header-wrap">
            <div class="container">

                <!--LOGO-->
                <div id="logo">
                    <a href="index.html" class="logo" data-dark-logo="images/logo-dark.png">
                        <img src="images/logo-dark.png" alt="Polo Logo">
                    </a>
                </div>
                <!--END: LOGO-->

                <!--MOBILE MENU -->
                <div class="nav-main-menu-responsive">
                    <!--  <button class="lines-button x">
                        <span class="lines"></span>
                    </button>-->
                    <button type="button" class="lines-button x">
                        <span class="lines"></span>
                    </button>

                </div>
                <!--END: MOBILE MENU -->

                <!--NAVIGATION MENU-->
                <div class="navigation-wrap">
                    <nav id="mainMenu" class="style-1 main-menu mega-menu">
                        <ul class="main-menu nav nav-pills">
                            <li class="dropdown"><a href="#section-home" class="nav-to"><i class="fa fa-home"></i></a> </li>
                            <li class="dropdown"> <a href="#section-about" class="nav-to">About</a> </li>
                            <li class="dropdown"> <a href="#section-portfolio" class="nav-to">Portfolio</a> </li>
                            <li class="dropdown"> <a href="#section-services" class="nav-to">Services</a> </li>
                            <li class="dropdown"> <a href="#section-blog" class="nav-to">Blog</a> </li>
                            <li class="dropdown"> <a href="#footer" class="nav-to">Contact</a> </li>
                        </ul>
                    </nav>
                </div>
                <!--END: NAVIGATION-->

            </div>
        </div>

    </header>
    <!-- END: HEADER -->
    <div id="notifications" class="alert login-alert text-center animated visible" data-animation="fadeInDownBig" data-animation-delay="1000" role="alert" style="z-index: 198!important;">

    </div>
    <!-- SECTION -->
    <section class="parallax login-parallax"  style="min-height: 800px;">
        <div class="container container-fullscreen login-container">
            <div class="text-middle" >
                <h3 class="login-header-text text-center"><%= __('login').static.bloc_header %></h3>
                    <div class="col-md-3 center p-b-20 p-t-30 p-l-40 p-r-40 background-white row login-block">
                        <form class="form-transparent-grey" id="login" action="">
                            <div class="form-group input-group">
                                <label class="sr-only"><%= __('login').static.form.adress_label %></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa icon-fixed fa-user"></i></span>
                                    <input type="text" id="login_adress" name="login_adress" class="form-control iconic-input" placeholder="<%= __('login').static.form.adress_placeholder %>">
                                </div>
                            </div>
                            <div class="form-group input-group">
                                <label class="sr-only"><%= __('login').static.form.password_label %></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa icon-fixed fa-lock"></i></span>
                                    <input id="login_password" name="login_password"  type="password" class="form-control iconic-input" placeholder="<%= __('login').static.form.password_placeholder %>">
                                </div>
                            </div>
                            <div class="form-inline m-b-40">
                                <a href="#" class="pull-right" style="margin-top: -15px">
                                    <small><%= __('login').static.form.password_lost %></small>
                                </a>
                                <div class="m-l-10 pull-left pull-left">
                                    <input type="checkbox" id="test1" />
                                    <label for="test1"><%= __('login').static.form.remember_me %></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-10 center" id="buttons-block">
                                    <div id='captcha-container' class="hide">
                                        <div id="captcha" class="g-recaptcha"
                                             data-sitekey="6LemuBIUAAAAAO70Ue0s0dmiZad2IwuM2GULZxRG"></div>
                                        <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha"
                                               id="hiddenRecaptcha">
                                    </div>
                                    <button class="button medium btn-primary button-3d effect fill-vertical col-xs-12"
                                            type="submit"><span><%= __('login').static.form.signin_button %></span>
                                    </button>
                                    <button class="button medium btn-primary button-3d effect icon-top fill-vertical col-xs-12"
                                            href=""><span><i
                                                    class="fa fa-facebook text-center"></i><%= __('login').static.form.facebook_button %></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                  <p class="text-center bottom-clause"><%= __('login').static.new_user %> <a class="link" href="#"><%= __('login').static.create_account %></a></p>

            </div>
        </div>
    </section>
    <!-- END: SECTION -->

</div>
<!-- END: WRAPPER -->
<footer class="background-dark text-grey" id="footer">
    <div class="copyright-content">
        <div class="container">
            <div class="row">
                <div class="copyright-text text-center"> &copy; 2016 POLO - Best HTML5 Template Ever. All Rights Reserved. <a target="_blank" href="http://www.inspiro-media.com">INSPIRO</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Theme Base, Components and Settings -->
<script src="/vendor/crypto-js/crypto-js.js"></script>
<script src="/vendor/jquery-validation/jquery.validate.js"></script>
<script src="/vendor/tooltipster/js/tooltipster.bundle.js"></script>


<script src="./js/theme-functions.js"></script>
<script src="./js/validations/login.js"></script>
<script src="./languages/static/fr.js"></script>
<!-- Custom js file -->
<script src="./js/custom.js"></script>

</body>

</html>
<script type="text/javascript">
    var RecaptchaOptions = {
        lang : 'en',
    };
</script>
