<% include partials %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h1 class=" fa fa-user"> Profile</h1><br>
        <span><strong>user id</strong>: <%= user._id ? user._id : '' %></span><br>
        <span class="fa fa-sign-out"><a href="/"> Sign out</a></span>
        <hr>
        <div class="jumbotron">


            <h2 class="fa fa-facebook"> User</h2><br>
            <img src=<%= user.avatar.url %> class="img-circle"><br>
            <strong>image status</strong>: <%= user.avatar.status %><br>
            <strong>email</strong>: <%= user.email %><br>
            <strong>lastname</strong>: <%= user.lastname %><br>
            <strong>firstname</strong>: <%= user.firstname %>

        </div>
          <form action="../../node_modules/cookie" method="post" >
              <button type="submit">Envoyer</button>
          </form>
      </div>
    </div>
  </body>
</html>
